body {
    font-family: Arial;
    font-size: 12pt;
    color: #3f3f3f; 
    background-color: #a9a9a9;
    margin: 11pt;
}

h1 {
    font-family: 'Times New Roman';
    font-size: 30pt;
    color: #0032e6; 
}

h2 {
    font-family: 'Georiga';
    font-size: 22pt;
    color: #2e50a0; 
}

h3 {
    font-family: 'Comic Sans MS';
    font-size: 14pt;
    color: #adb3ec; 
}

p {
    font-family: Helvetica;
    font-size: 13pt;
    color: #1e1e1e; 
}
a {
    text-decoration: none;
    color: #ff0000;
  }
  
a:hover {
    text-decoration: underline;
    color: #ff5b5b;
  }
  
a:link,a:visited {
    text-decoration: none; 
    color: #11ff00; 
}

a:active {
    text-decoration: underline;
    color: #560000; 
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, tr {
    border: 1px solid #dddddd;
    padding: 8px;
 
  }
  