body {
    font-family: 'Arial';
    font-size: 12pt;
    color: #00b809; 
    background-color: #878484;
    margin: 11pt;
}

h1 {
    font-family: 'Open Sans';
    font-size: 30pt;
    color: #0032e6; 
}

h2 {
    font-family: 'Georgia';
    font-size: 22pt;
    color: #2e50a0; 
}

h3 {
    font-family: 'Roboto';
    font-size: 14pt;
    color: #4d5597;
  }

p {
    font-family: 'Helvetica';
    font-size: 10pt;
    color: #205f00; 
}
  
a:link,
a:visited {
  color: #3498db; 
  text-decoration: none;
}

a:hover {
  color: #00ff04; 
  text-decoration: underline; 
}

a:active {
  color: inherit; 
}

td {
  border: 3px solid #000000;
  background-color: #c9c9c9;
  padding: 15px;
  text-align: center;
}

div {
  width: 120px;
  height: 20px;
  padding: 40px;

}

button { 
  color: #878484;
  size: 50px;
  align-self: center;
}
img {
    width: 200px;
  transition: width 0.5s ease;
}

.dropbtn {
  font-size: 20px; }

.dropdown {
  position: relative; 
  display: inline-block;
  }

.dropdown-content {
  display: none;
  position: absolute; min-width: 200px;
  }

  .dropdown-content a {
  display: block; }
  
  .dropdown-content a:hover {background-color: #9a9a9a}

  .show {display:block;}