body {
    font-family: 'Arial';
    font-size: 12pt;
    color: #006105; 
    background-color: #d6d6d6;
    margin: 11pt;
}

h1 {
    font-family: 'Open Sans';
    font-size: 30pt;
    color: #0032e6; 
}

h2 {
    font-family: 'Georgia';
    font-size: 22pt;
    color: #2e50a0; 
}

h3 {
    font-family: 'Roboto';
    font-size: 14pt;
    color: #4d5597;
  }

p {
    font-family: 'Helvetica';
    font-size: 10pt;
    color: #515151; 
}
  
a:link,
a:visited {
  color: #3498db; 
  text-decoration: none;
}

a:hover {
  color: #00ff04; 
  text-decoration: underline; 
}

a:active {
  color: #007330; 
}

table{
td {
  border: 1px solid #dddddd;
  background-color: #515151;
  padding: 15px;
  text-align: center;
  border: 2pt;
}
}
